$color: grey;

.container {
  display: flex;
  padding: 10px;
  color: $color;
  .name {
    width: 100%;
    padding-left: 10px;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      font-weight: 400;

      span {
        margin-left: auto;
        color: #efff00cc;
      }
    }
    p {
      margin-top: 3px;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}

.bottom {
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  padding: 8px;
  color: $color;

  :last-child {
    margin-left: auto;
    color: orange;
    margin-right: 5px;
  }
}

.p-0 {
  padding: 0;
}
